@model GroupWithParticipantsViewModel
@{
    ViewData["Title"] = "AssignParticipants";

}

<div class="col-12 offset-md-1 col-md-8 row">
    <form method="post" class="col-11 ml-4">
        <div class="card mb-3 mt-3">
            <div class="card-header text-warning" style="font-size: xx-large">
                <i class="fas fa-folder-plus"></i>
            </div>
            <div class="card-body">
                <h4 class="card-title">Assign Participants</h4>
                <input type="hidden" asp-for="@Model.GroupId" value="@Model.GroupId" />
                <p class="card-text" style="display: block;">
                    <span class="text-primary mr-1">∗</span>
                    You can always edit it later.
                </p>
            </div>
            <div class="card-footer">
                <div class="component">
                    @if (Model.Participants.Count() > 0)
                    {
                        @for (int i = 0; i < Model.Participants.Count(); i++)
                        {
                            var participant = Model.Participants[i];
                            <div class="form-group mb-0">
                                <div class="mt-2">
                                    @Html.EditorFor(x => x.Participants[i].IsAssigned)
                                    <h6 class="d-inline-block mt-0 ml-1">@participant.FullName @participant.Email</h6>
                                    @Html.HiddenFor(model => model.Participants[i].Id)
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>
                            There are no unassigned participants in your list.
                        </p>
                        <a asp-action="AllParticipantsAddedByUser" asp-controller="Participants">Add some.</a>
                    }
                </div>
            </div>
            <div class="row mx-4 mb-4 text-white">
                @if (Model.Participants.Count() > 0)
                {
                    <button type="submit" class="btn btn-primary col-md-5 mt-5">Assign Participants</button>
                    <div class="col-1 mr-4"></div>

                }
                <a href="/Administration/Groups/GroupDetails?id=@Model.GroupId" class="btn btn-primary col-md-5 mt-5">Skip</a>
            </div>
        </div>
    </form>
</div>

