@model GroupWithStudentsViewModel
@{
    ViewData["Title"] = "Assign Students";

}

@if (Model.Error)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="fa fa-exclamation-circle"></i>
        <strong>On no!</strong> If you want to assign students to this group, you should choose some!
    </div>
}
<div class="col-12 offset-md-1 col-md-8 row">
    <form method="post" class="col-11 ml-4">
        <div class="card mb-3 mt-3">
            <div class="card-header text-warning" style="font-size: xx-large">
                <i class="fas fa-folder-plus"></i>
            </div>
            <div class="card-body">
                <h4 class="card-title">Assign Students</h4>
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                <p class="card-text" style="display: block;">
                    <span class="text-primary mr-1">∗</span>
                    You can always edit it later.
                </p>
            </div>
            <div class="card-footer">
                <div class="component">
                    @if (Model.Students.Count() > 0)
                    {
                        @for (int i = 0; i < Model.Students.Count(); i++)
                        {
                    <div class="form-group mb-0">
                        <div class="mt-2">
                            @Html.EditorFor(model => model.Students[i].IsAssigned)
                            <h6 class="d-inline-block mt-0 ml-1">@Model.Students[i].FullName <span class="ml-2">@Model.Students[i].Email</span></h6>
                            @Html.HiddenFor(model => model.Students[i].Id)
                            @Html.HiddenFor(model => model.Students[i].FullName)
                            @Html.HiddenFor(model => model.Students[i].Email)
                        </div>
                    </div>
                        }
                    }
                    else
                    {
                        <p>
                            There are no unassigned students in your list.
                        </p>
                        <a asp-action="AllStudentsAddedByTeacher" asp-controller="Students">Add some.</a>
                    }
                </div>
            </div>
            <div class="row mx-4 mb-4 text-white">
                @if (Model.Students.Count() > 0)
                {
                    <button type="submit" class="btn btn-primary col-md-5 mt-5">Add Students</button>
                    <div class="col-1 mr-4"></div>

                }
                <a href="/Administration/Groups/GroupDetails?id=@Model.Id" class="btn btn-primary col-md-5 mt-5">Skip</a>
            </div>
        </div>
    </form>
</div>

