@model GroupDetailsViewModel
@{
    ViewData["Title"] = "Edit";

}

@* Name *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning p-2">
        <div class="container">
            <h5 class="my-2">Group Details</h5>
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown111"
                    aria-controls="navbarNavDropdown111"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse text-center collapse" id="navbarNavDropdown111">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-1">
                        <a class="nav-link  btn btn-primary" href="/Administration/Groups/EditName?id=@Model.Id&name=@Model.Name">Edit Name</a>
                    </li>
                    <li class="nav-item m-1">
                        <!-- button that opens the modal -->
                        <button type="button" class="nav-link btn btn-primary col-12" data-toggle="modal" data-target="#group">
                            Delete Group
                        </button>
                        <!-- the modal -->
                        <div class="modal fade" id="group" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h5>Are you sure you want to delete this group?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" asp-action="Delete" asp-controller="Groups">
                                            <input type="hidden" name="id" value="@Model.Id" />
                                            <button type="submit"
                                                    class="nav-link btn btn-success">
                                                Delete
                                            </button>
                                        </form>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">No!</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="component">
        <table class="table table-hover">
            <tbody>
                <tr class="table-active bg-white">
                    <th scope="row">Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr class="table-active bg-light">
                    <th scope="row">Students</th>
                    <td>@Model.Students.Count()</td>
                </tr>
                <tr class="table-active bg-white">
                    <th scope="row">Events</th>
                    <td>@Model.Events.Count()</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@* quizzes *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning p-2">
        <div class="container">
            <h5 class="mb-0">Assigned Events</h5>
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown222"
                    aria-controls="navbarNavDropdown222"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse text-center collapse" id="navbarNavDropdown222">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-1">
                        <a asp-area="Administration"
                           asp-action="AddNewEvent"
                           asp-controller="Groups"
                           asp-route-id="@Model.Id"
                           class="nav-link  btn btn-primary">
                            Add New
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="component">
        <table class="table table-hover">
            <tbody>
                @foreach (var _event in Model.Events)
                {
                    <tr class="table-active bg-white">
                        <th scope="row">@_event.Name</th>
                        <td class="text-right">
                            <!-- button that opens the modal -->
                            <button type="button" class="btn btn-primary mr-md-3" data-toggle="modal" data-target="#event">
                                Delete
                            </button>
                            <!-- the modal -->
                            <div class="modal fade" id="event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h5>Are you sure you want to remove event  @_event.Name from this group?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" asp-action="DeleteEventFromGroup" asp-controller="Groups">
                                                <input type="hidden" name="groupId" value="@Model.Id" />
                                                <input type="hidden" name="eventId" value="@_event.Id" />
                                                <button type="submit" class="btn btn-success">Delete</button>
                                            </form>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">No!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@* students *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning mt-4 p-2">
        <div class="container">
            <h5 class="mb-0">Students</h5>
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown333"
                    aria-controls="navbarNavDropdown333"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse text-center collapse" id="navbarNavDropdown333">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-1">
                        <a class="nav-link  btn btn-primary" href="/Administration/Groups/AddStudents?id=@Model.Id">Add New</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="component">
        <table class="table table-hover">
            <tbody>
                @foreach (var student in Model.Students)
                {
                    <tr class="table-active bg-white">
                        <th scope="row">@student.FullName</th>
                        <th scope="row">@student.Email</th>
                        <td class="text-right">
                            <!-- button that opens the modal -->
                            <button type="button" class="btn btn-primary mr-md-3" data-toggle="modal" data-target="#student">
                                Delete
                            </button>
                            <!-- the modal -->
                            <div class="modal fade" id="student" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <h5>Are you sure you want to remove student @student.FullName from this group?</h5>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="post" asp-action="DeleteStudentFromGroup" asp-controller="Groups">
                                                <input type="hidden" name="groupId" value="@Model.Id" />
                                                <input type="hidden" name="studentId" value="@student.Id" />
                                                <button type="submit" class="btn btn-success">Delete</button>
                                            </form>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">No!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) && this.ViewData[GlobalConstants.DashboardRequest] != null)
{
    @section InnerNav
    {
        <partial name="_DashboardNavBarPartial" />
    }
}
@section Scripts
{
    <script src="~/js/navigation.js" asp-append-version="true"></script>
}

