@model QuizzesAllListingViewModel
@{
    ViewData["Title"] = "Quizzes";
}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-neutral p-2">
        <div class="container">
            <h5 class="mb-0">All Quizzes</h5>
        </div>
    </nav>
    <table class="table table-hover mb-0">
        <thead>
            <tr class="table-active bg-white">
                <th scope="col">Name</th>
                <th scope="col">Created On</th>
                <th scope="col">Questions</th>
                <th scope="col">Is Assigned</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Quizzes.Any())
            {
                var count = 0;
                foreach (var quiz in Model.Quizzes)
                {
                    var targetId = "quiz" + count.ToString();
                    var target = "#" + targetId;
                    <tr class="table-warning">
                        <th scope="row">@quiz.Name</th>
                        <td>@quiz.CreatedOn</td>
                        <td>@quiz.QuestionsCount</td>
                        <td style="color:@quiz.Color"><i class="fas fa-circle"></i></td>
                        <td>
                            <form method="post" class="component  navbar-expand-lg text-right">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item m-1">
                                        <a class="nav-link  btn btn-white" asp-action="Display" asp-controller="Quizzes" asp-route-id="@quiz.Id">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item m-1">
                                        <!-- button that opens the modal -->
                                        <button type="button" class="nav-link  btn btn-white col-12" data-toggle="modal" data-target="@target">
                                            <i class="far fa-times-circle"></i>
                                        </button>
                                        <!-- the modal -->
                                        <div class="modal fade" id="@targetId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Attention!</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <h5>Are you sure you want to delete this quiz?</h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-success"
                                                           asp-action="DeleteQuiz"
                                                           asp-controller="Quizzes"
                                                           asp-route-id="@quiz.Id">
                                                            Delete
                                                        </a>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">No!</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section InnerNav
{
    @await Html.PartialAsync("_DashboardNavBarPartial")
}
@section Scripts
{
    <script src="~/js/navigation.js" asp-append-version="true"></script>
}