@model IEnumerable<StudentResultViewModel>
@{
    ViewData["Title"] = "Results";
}
<div class="card">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary p-2">
        <div class="container pl-0">
            <h5 class="mb-0 p-2 text-white">All Results</h5>
        </div>
    </nav>
    @if (Model.Any())
    {
        <table class="table table-hover mb-0">
            <thead>
                <tr class="table-active bg-white">
                    <th scope="col">Quiz</th>
                    <th scope="col">Event</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-center">Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model)
                {
                    <tr class="table-info">
                        <th scope="row">@result.Quiz</th>
                        <td>@result.Event</td>
                        <td>@result.Date</td>
                        <td class="text-center">@result.Score</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h3>Sorry, there are no results at the moment</h3>
        </div>
    }
</div>
@section Profile
{

    <li class="nav-item">
        <a class="btn btn-outline-white ml-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="fas fa-address-card"></i>  Profile
        </a>
    </li>
}
@section Logout
{
    <li class="nav-item text-primary">
        <form class="form-inline" asp-area="Identity"
              asp-page="/Account/Logout"
              asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty } ))">
            <button type="submit" class="btn btn-outline-white ml-2">
                <i class="fas fa-sign-out-alt"></i> Logout
            </button>
        </form>
    </li>
}

