@model StudentEventsViewModel<StudentPendingEventViewModel>
@{
    ViewData["Title"] = "Student Pending Events All";
}
    <div class="component">
        <form method="get" class="form-subscribe form-inline my-4" asp-area="" asp-action="StudentPendingEventsAll" asp-controller="Students">
            Search by:
            <select id="select" class="btn btn-light mt-0 mt-md-3 mt-lg-0 ml-2 mr-3" name="searchCriteria">
                <option value="Name" selected="@(Model.SearchType == "Name" ? true : false)">event name</option>
                <option value="QuizName" selected="@(Model.SearchType == "QuizName" ? true : false)">quiz name</option>
            </select>
            <div class="form-group flex-grow-1">
                <label class="sr-only" for="email4">Email</label>
                <input id="input" type="text" class="form-control flex-grow-1 mr-2"
                       placeholder="Enter name here..." name="searchText" value="@Model.SearchString">
                <button type="submit" id="search" class="btn btn-primary mt-0 mt-md-3 mt-lg-0">Search</button>
            </div>
        </form>
    </div>
<div class="col-md-12 mb-4">
    <div class="card">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info p-2">
            <div class="container pl-0">
                <h5 class="mb-0 p-2 text-white">All Pending Events</h5>
            </div>
        </nav>
        <div class="card-body p-0">
            <table class="table table-hover col-12 mb-0">
                <thead>
                    <tr class="table-active bg-white">
                        <th scope="col">Event</th>
                        <th scope="col">Quiz</th>
                        <th scope="col">Date</th>
                        <th scope="col">From/To</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _event in Model.Events)
                    {
                        <tr class="table-info">
                            <th scope="row" class="pt-3">@_event.Name</th>
                            <th scope="row" class="pt-3">@_event.QuizName</th>
                            <th scope="row" class="pt-3">@_event.Date</th>
                            <th scope="row" class="pt-3">@_event.Duration</th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@if (Model.PagesCount > 1)
{
    var disabledLeftArrow = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    var disabledRightArrow = Model.CurrentPage == Model.PagesCount ? "disabled" : string.Empty;
    <div class="text-center mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item @disabledLeftArrow">
                <a class="page-link"
                   asp-area=""
                   asp-controller="Students"
                   asp-action="StudentPendingEventsAll"
                   asp-route-page="@Model.PreviousPage"
                   asp-route-searchText="@Model.SearchString"
                   asp-route-searchCriteria="@Model.SearchType">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </a>
            </li>
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                var active = i == Model.CurrentPage ? "active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link"
                       asp-area=""
                       asp-controller="Students"
                       asp-action="StudentPendingEventsAll"
                       asp-route-page="@i"
                       asp-route-searchText="@Model.SearchString"
                       asp-route-searchCriteria="@Model.SearchType">@i</a>
                </li>
            }
            <li class="page-item @disabledRightArrow">
                <a class="page-link"
                   asp-area=""
                   asp-controller="Students"
                   asp-action="StudentPendingEventsAll"
                   asp-route-page="@Model.NextPage"
                   asp-route-searchText="@Model.SearchString"
                   asp-route-searchCriteria="@Model.SearchType">
                    <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </li>
        </ul>
    </div>
}

@section Profile
{

    <li class="nav-item">
        <a class="btn btn-outline-white ml-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="fas fa-address-card"></i>  Profile
        </a>
    </li>
}
@section Logout
{
    <li class="nav-item text-primary">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty } ))">
            <button type="submit" class="btn btn-outline-white ml-2">
                <i class="fas fa-sign-out-alt"></i> Logout
            </button>
        </form>
    </li>
}



