@model ReflectionIT.Mvc.Paging.IPagingList<AttemtedQuizQuestionViewModel>
@using ReflectionIT.Mvc.Paging
@addTagHelper*,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Take";
    var counter = 0;
}

<div class="container-fluid">
    <div class="flex-grow-1">
        <partial name="_BublesAndCirclesPrtial" />
    </div>
    <nav aria-label="Pagination" class="mt-3">
        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
    </nav>

    @foreach (var question in Model)
    {
        <form method="post" id="attemptQuestionForm" class="col-11 mx-5" asp-action="Index" asp-controller="Question">
            <div class="card m-5">
                <div class="card-header text-warning" style="font-size: xx-large">
                    <i class="fas fa-folder-plus"></i>
                    <span class="text-primary ml-1">Question @question.Number</span>
                </div>

                <div class="card-title text-center mt-3 mx-2">
                    <h4>@question.Text</h4>
                </div>
                <hr>
                <div class="card-body px-4">
                    @for (int i = 0; i < question.Answers.Count; i++)
                    {
                        <div class="form-group mb-0">
                            <div class="mt-2 row">
                                <input type="checkbox" asp-for="@question.Answers[i].IsRightAnswerAssumption" value="true" class="mt-2 ml-3">
                                <label class="display-6 col-10 mt-0">@question.Answers[i].Text</label>
                                <input type="hidden" asp-for="@question.Answers[i].IsRightAnswer" value="@question.Answers[i].IsRightAnswer" class="mt-2 ml-3">
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer pb-5">
                    <div class="row mx-1 text-white">
                        <button type="submit" class="btn btn-primary col-md-5 mt-2">Submit</button>
                        <div class="col-1 mr-4"></div>
                    </div>
                </div>
            </div>
        </form>
    }

    <nav area-label="Pagination">
        <vc:pager paging-list="@Model"> </vc:pager>
    </nav>
</div>

