
@{
    ViewData["Title"] = "Student Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/img/favicon.ico" rel="icon" type="image/png">

        <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/img/favicon.ico" rel="icon" type="image/png">

        <link rel="stylesheet" href="~/css/lazy.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/demo.css" asp-append-version="true">
        <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    </environment>
</head>
<body class="index">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Students" asp-area="">QuizHut</a>

                <button class="navbar-toggler collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNavDropdown-7"
                        aria-controls="navbarNavDropdown-7"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown-7">
                    <ul class="navbar-nav ml-auto mx-2">
                        @RenderSection("Profile", required: false)
                        @RenderSection("Logout", required: false)
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="page-container" role="main" class="pt-5">
        <div id="content-wrap" class="row">

            <partial name="_SideNavBarPartial" />
            <div class="col-12 col-md-9 ml-md-5">
                <partial name="_BublesAndCirclesPrtial" />

                @this.RenderBody()

            </div>
        </div>
    </main>
    <partial name="~/Views/Shared/_FooterPartial.cshtml" />


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>


