@model EventsListAllViewModel<EventSimpleViewModel>
@{
    ViewData["Title"] = "All Ended Events";
}

    <div class="col-md-10 mb-4 ml-md-5">
        <div class="component">
            <form method="get" class="form-subscribe form-inline mb-4" asp-action="EndedEventsAll" asp-controller="Events">
                Search by:
                <select id="select" class="btn btn-light mt-0 mt-md-3 mt-lg-0 ml-2 mr-3" name="searchCriteria">
                    <option value="Name" selected="@(Model.SearchType == "Name" ? true : false)">name</option>
                </select>
                <div class="form-group flex-grow-1">
                    <label class="sr-only" for="email4">Email</label>
                    <input id="input" type="text" class="form-control flex-grow-1 mr-2"
                           placeholder="Choose criteria and type to search..." name="searchText" value="@Model.SearchString">
                    <button type="submit" id="search" class="btn btn-primary mt-0 mt-md-3 mt-lg-0">Search</button>
                </div>
            </form>
        </div>
        <div class="component">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-circle text-danger"></i> Results for:
                </div>
                <div class="card-body p-0 mt-2">
                    <h4 class="card-title pl-3">All Ended Events</h4>
                    <table class="table table-hover col-12 mt-2 mb-0">
                        <tbody>
                            @foreach (var _event in Model.Events)
                            {
                                <tr class="table-danger">
                                    <th scope="row" class="pt-3">@_event.Name</th>
                                    <th scope="row" class="pt-3 text-center"></th>
                                    <td class="text-right">
                                        <a type="submit" class="btn btn-outline-danger py-1"
                                           asp-area="Administration"
                                           asp-action="EventResultsDetails"
                                           asp-controller="Results"
                                           asp-route-eventId="@_event.Id">
                                            View Results
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @if (Model.PagesCount > 1)
        {
            var disabledLeftArrow = Model.CurrentPage == 1 ? "disabled" : string.Empty;
            var disabledRightArrow = Model.CurrentPage == Model.PagesCount ? "disabled" : string.Empty;
            <div class="text-center mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item @disabledLeftArrow">
                        <a class="page-link"
                           asp-area="Administration"
                           asp-controller="Events"
                           asp-action="EndedEventsAll"
                           asp-route-page="@Model.PreviousPage"
                           asp-route-searchText="@Model.SearchString"
                           asp-route-searchCriteria="@Model.SearchType">
                            <i class="fas fa-long-arrow-alt-left"></i>
                        </a>
                    </li>
                    @for (int i = 1; i <= Model.PagesCount; i++)
                    {
                        var active = i == Model.CurrentPage ? "active" : string.Empty;
                        <li class="page-item @active">
                            <a class="page-link"
                               asp-area="Administration"
                               asp-controller="Events"
                               asp-action="EndedEventsAll"
                               asp-route-page="@i"
                               asp-route-searchText="@Model.SearchString"
                               asp-route-searchCriteria="@Model.SearchType">
                                @i
                            </a>
                        </li>
                    }
                    <li class="page-item @disabledRightArrow">
                        <a class="page-link"
                           asp-area="Administration"
                           asp-controller="Events"
                           asp-action="EndedEventsAll"
                           asp-route-page="@Model.NextPage"
                           asp-route-searchText="@Model.SearchString"
                           asp-route-searchCriteria="@Model.SearchType">
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        }
    </div>



