@model CreateEventInputViewModel
@{
    ViewData["Title"] = "Event Create";
}
@if (Model != null && Model.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <i class="fa fa-exclamation-circle"></i>
        <strong>On no!</strong> @Model.Error Try again !
    </div>
}
<div class="container-fluid">
    <div class="col-12 offset-md-2 col-md-8 row">
        <form method="post" asp-action="EventInput" asp-controller="Events" asp-area="Administration" class="col-11 ml-4">
            <div class="component">
                <div class="card mb-3">
                    <div class="card-header text-warning" style="font-size: xx-large">
                        <i class="fas fa-folder-plus"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Create Event</h4>
                        <p class="card-text">
                            <span class="text-primary mr-1">∗</span>
                            You can always edit details later.
                        </p>
                    </div>
                    <div class="card-footer pb-5">
                        <div><label asp-for="@Model.Name">Name</label></div>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Name" class="form-control" placeholder="name">
                        </div>
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>

                        <div class="mt-4"><label asp-for="@Model.ActivationDate">Activation Date</label></div>
                        <div class="input-group">
                            <input type="datetime" asp-for="@Model.ActivationDate" class="form-control" placeholder="dd/MM/yyyy">
                        </div>
                        <span asp-validation-for="@Model.ActivationDate" class="text-danger"></span>
                        <div class="input-group mt-4">
                            <label asp-for="@Model.ActiveFrom" class="ml-md-1">
                                Active from : "00:00"
                                <input type="text" asp-for="@Model.ActiveFrom" class="form-control" placeholder="HH:mm">
                                <span asp-validation-for="@Model.ActiveFrom" class="text-danger"></span>
                            </label>

                            <label asp-for="@Model.ActiveTo" class="ml-md-1">
                                To : "23:59"
                                <input type="text" asp-for="@Model.ActiveTo" class="form-control" placeholder="HH:mm">
                                <span asp-validation-for="@Model.ActiveTo" class="text-danger"></span>
                            </label>
                            <input id="timezone" type="hidden" asp-for="@Model.TimeZone" value="">
                        </div>
                        <p class="card-text text-primary">
                            <span class=" mr-1">∗</span>
                            Choose time interval from "00:00" to "23:59".
                        </p>
                        <div class="row mx-4 text-white">
                            <button type="submit" class="btn btn-primary col-md-5 mt-5">Add Event</button>
                            <div class="col-1 mr-4"></div>
                            <a asp-action="AlleventsCreatedByTeacher" asp-controller="Events" asp-area="Administration" class="btn btn-primary col-md-5 mt-5">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/navigation.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}

