@model EventDetailsViewModel
@{
    ViewData["Title"] = "EventDetails";
}
<div class="form-group flex-grow-1 d-inline">
    <nav class="navbar navbar-expand-lg navbar-dark bg-neutral p-2">
        <div class="container">
            <h5 class="mb-0">Event Details</h5>
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse text-center collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-1">
                        <a class="nav-link  btn btn-primary" asp-action="Delete" asp-controller="Events" asp-route-id="@Model.Id">Delete</a>
                    </li>
                    <li class="nav-item m-1">
                        <a class="nav-link  btn btn-primary" asp-action="EditEventDetails" asp-controller="Events" asp-route-id="@Model.Id">Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="component">
        <table class="table table-hover">
            <tbody>
                <tr class="table-active bg-white">
                    <th scope="row">Name:</th>
                    <td>@Model.Name</td>
                </tr>
                <tr class="table-active bg-light">
                    <th scope="row">Activation Date:</th>
                    <td>@Model.ActivationDate</td>
                </tr>
                <tr class="table-active bg-white">
                    <th scope="row">Active From:</th>
                    <td>@Model.ActiveFrom</td>
                </tr>
                <tr class="table-active bg-white">
                    <th scope="row">Active To:</th>
                    <td>@Model.ActiveTo</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@* quiz *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning p-2">
        <div class="container">
            <h5 class="mb-0">Quiz</h5>
            @if (Model.Quiz == null)
            {
                <button class="navbar-toggler collapsed bg-primary"
                        type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse text-center collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item m-1">
                            <a asp-area="Administration" asp-action="AssignQuizToEvent" asp-controller="Events" asp-route-id="@Model.Id" class="nav-link  btn btn-primary">Add New</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>
    @if (Model.Quiz != null)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-light p-2">
            <div class="container">
                <h5 class="mb-0">@Model.Quiz.Name</h5>
                <button class="navbar-toggler collapsed bg-primary"
                        type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown23"
                        aria-controls="navbarNavDropdown23"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse text-center collapse" id="navbarNavDropdown23">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item m-1">
                            <a class="btn btn-primary mr-md-3 col-12" asp-action="Display" asp-controller="Quizzes" asp-route-id="@Model.Quiz.Id">
                                View
                            </a>
                        </li>
                        <li class="nav-item m-1">
                            <form method="post" asp-action="DeleteQuizFromEvent" asp-controller="Events">
                                <input type="hidden" name="quizId" value="@Model.Quiz.Id" />
                                <input type="hidden" name="eventId" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary mr-md-3 col-12">Delete</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
</div>
@* groups *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning p-2">
        <div class="container">
            <h5 class="mb-0">Group</h5>
            @if (Model.Group == null) 
            {
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown222"
                    aria-controls="navbarNavDropdown222"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse text-center collapse" id="navbarNavDropdown222">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-1">
                        <a asp-area="Administration" asp-action="AddGroupsToEvent" asp-controller="Events" asp-route-id="@Model.Id" class="nav-link  btn btn-primary">Add New</a>
                    </li>
                </ul>
            </div>
                        }
        </div>
    </nav>
    @if (Model.Group != null)
    {
        <nav class="navbar navbar-expand-lg navbar-dark bg-light p-2">
            <div class="container">
                <h5 class="mb-0">@Model.Group.Name</h5>
                <button class="navbar-toggler collapsed bg-primary"
                        type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown2223"
                        aria-controls="navbarNavDropdown2223"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse text-center collapse" id="navbarNavDropdown2223">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item m-1">
                            <a class="btn btn-primary mr-md-3 col-12" asp-action="GroupDetails" asp-controller="Groups" asp-route-id="@Model.Group.Id">
                                View
                            </a>
                        </li>
                        <li class="nav-item m-1">
                            <form method="post" asp-action="DeleteGroupFromEvent" asp-controller="Events">
                                <input type="hidden" name="groupId" value="@Model.Group.Id" />
                                <input type="hidden" name="eventId" value="@Model.Id" />
                                <button type="submit" class="btn btn-primary mr-md-3 col-12">Delete</button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    }
    <a class="btn btn-outline-primary offset-md-4 col-md-4 mt-2 d-inline-block" href="##" onClick="history.go(-1); return false;">Go Back</a>
</div>

