@model CategoryWithQuizzesViewModel
@{
    ViewData["Title"] = "CategoryDetails";
}

@* Name *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning p-2">
        <div class="container">
            <h5 class="my-2">Category Details</h5>
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown111"
                    aria-controls="navbarNavDropdown111"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse text-center collapse" id="navbarNavDropdown111">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-1">
                        <a class="nav-link  btn btn-primary" href="/Administration/Categories/EditName?id=@Model.Id&name=@Model.Name">Edit Name</a>
                    </li>
                    <li class="nav-item m-1">
                        <a class="nav-link  btn btn-primary col-12"
                           href="/Administration/Categories/Delete?id=@Model.Id"
                           onclick="return confirm('Are you sure you want to delete category @Model.Name')">Delete Category</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="component">
        <table class="table table-hover">
            <tbody>
                <tr class="table-active bg-white">
                    <th scope="row">Name</th>
                    <td>@Model.Name</td>
                </tr>
                <tr class="table-active bg-white">
                    <th scope="row">Quizzes</th>
                    <td>@Model.Quizzes.Count</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@* quizzes *@
<div class="form-group flex-grow-1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning mt-4 p-2">
        <div class="container">
            <h5 class="mb-0">Assigned Quizzes</h5>
            <button class="navbar-toggler collapsed bg-primary"
                    type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown222"
                    aria-controls="navbarNavDropdown222"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse text-center collapse" id="navbarNavDropdown222">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item m-1">
                        <a href="/Administration/Categories/AssignQuizzesToCategory?id=@Model.Id" class="nav-link  btn btn-primary">Add New</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="component">
        <table class="table table-hover">
            <tbody>
                @foreach (var quiz in Model.Quizzes)
                {
                    <tr class="table-active bg-white">
                        <th scope="row">@quiz.Name</th>
                        <td class="text-right">
                            <form method="post" asp-action="DeleteQuizFromCategory" asp-controller="Categories">
                                <input type="hidden" name="categoryId" value="@Model.Id" />
                                <input type="hidden" name="quizId" value="@quiz.Id" />
                                <button type="submit" class="btn btn-primary mr-md-3">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a class="btn btn-outline-primary offset-md-4 col-md-4 mt-2 d-inline-block" asp-action="AllCategoriesCreatedByTeacher" asp-controller="Categories">Go Back</a>
</div>


